{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block content %}

    <div id="content-main">
        <form method="post">{% csrf_token %}

            <p>Pour des raisons de sécurité, saisissez votre ancien mot de passe puis votre nouveau mot de passe à deux reprises afin de vérifier qu’il est correctement saisi.</p>

            <div class="form-group mb-2">
                <label for="exampleInputPassword1">Ancien mot de passe</label>
                <input type="password" class="form-control" placeholder="Password">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Nouveau mot de passe</label>
                <input type="password" class="form-control" placeholder="Password">
                {% if form.new_password1.help_text %}
                    <div class="help"{% if form.new_password1.id_for_label %} id="{{ form.new_password1.id_for_label }}_helptext"{% endif %}>{{ form.new_password1.help_text|safe }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Confirmation</label>
                <input type="password" class="form-control" placeholder="Password">
                {% if form.new_password2.help_text %}
                    <div class="help text-danger"{% if form.new_password2.id_for_label %} id="{{ form.new_password2.id_for_label }}_helptext"{% endif %}>{{ form.new_password2.help_text|safe }}</div>
                {% endif %}
            </div>

            {% if form.errors %}
                <p class="errornote text-danger mt-3"> Le formulaire n'est pas valide.</p>
            {% endif %}

            <div class="submit-row mt-3">
                <input type="submit" value="{% translate 'Change my password' %}" class="btn btn-secondary">
            </div>

        </form>
    </div>

{% endblock %}
